In [1]:
dataset=[['1','3','4'],
        ['2','3','5'],
        ['1','2','3','5'],
        ['2','5']]

In [2]:
from mlxtend.preprocessing import TransactionEncoder

In [3]:
encoder = TransactionEncoder().fit(dataset)

In [4]:
onehot = encoder.transform(dataset)

In [5]:
import pandas as pd

In [6]:
onehot=pd.DataFrame(onehot,columns=encoder.columns_)

In [7]:
onehot

       1      2      3      4      5
0   True  False   True   True  False
1  False   True   True  False   True
2   True   True   True  False   True
3  False   True  False  False   True

In [8]:
print(onehot.mean())

1    0.50
2    0.75
3    0.75
4    0.25
5    0.75
dtype: float64

In [9]:
print(onehot['1'].mean())

0.5

In [10]:
import numpy as np

In [11]:
supportonetwo=np.logical_and(onehot['1'],onehot['2']).mean()

In [12]:
supportone=onehot['1'].mean()

In [13]:
confidence = supportonetwo/supportone

In [14]:
print(confidence)

0.5

In [15]:
supporttwo=onehot['2'].mean()

In [16]:
lift=supportonetwo/(supportone*supporttwo)

In [17]:
print(lift)

0.6666666666666666

In [18]:
from mlxtend.frequent_patterns import apriori

In [19]:
frequent_itemset=apriori(onehot,min_support=0.5,max_len=4,use_colnames=True)

In [20]:
print(frequent_itemset)

   support   itemsets
0     0.50        (1)
1     0.75        (2)
2     0.75        (3)
3     0.75        (5)
4     0.50     (1, 3)
5     0.50     (3, 2)
6     0.75     (5, 2)
7     0.50     (5, 3)
8     0.50  (5, 3, 2)

In [21]:
from mlxtend.frequent_patterns import association_rules

In [22]:
rules=association_rules(frequent_itemset,metric="support",min_threshold=0)

In [23]:
print(rules)

   antecedents consequents  antecedent support  consequent support  support  \
0          (1)         (3)                0.50                0.75     0.50
1          (3)         (1)                0.75                0.50     0.50
2          (3)         (2)                0.75                0.75     0.50
3          (2)         (3)                0.75                0.75     0.50
4          (5)         (2)                0.75                0.75     0.75
5          (2)         (5)                0.75                0.75     0.75
6          (5)         (3)                0.75                0.75     0.50
7          (3)         (5)                0.75                0.75     0.50
8       (5, 3)         (2)                0.50                0.75     0.50
9       (5, 2)         (3)                0.75                0.75     0.50
10      (3, 2)         (5)                0.50                0.75     0.50
11         (5)      (3, 2)                0.75                0.50     0.50
12         (3)      (5, 2)                0.75                0.75     0.50
13         (2)      (5, 3)                0.75                0.50     0.50

    confidence      lift  leverage  conviction
0     1.000000  1.333333    0.1250         inf
1     0.666667  1.333333    0.1250        1.50
2     0.666667  0.888889   -0.0625        0.75
3     0.666667  0.888889   -0.0625        0.75
4     1.000000  1.333333    0.1875         inf
5     1.000000  1.333333    0.1875         inf
6     0.666667  0.888889   -0.0625        0.75
7     0.666667  0.888889   -0.0625        0.75
8     1.000000  1.333333    0.1250         inf
9     0.666667  0.888889   -0.0625        0.75
10    1.000000  1.333333    0.1250         inf
11    0.666667  1.333333    0.1250        1.50
12    0.666667  0.888889   -0.0625        0.75
13    0.666667  1.333333    0.1250        1.50