In [1]:
dataset=[['milk','bread','cereal'],
        ['milk','bread'],
        ['eggs','suger','milk'],
        ['coffee','suger'],
        ['onion','coffee','carrot','icecream']]

In [2]:
pip install mlxtend

Requirement already satisfied: mlxtend in c:\programdata\anaconda3\lib\site-packages (0.18.0)
Requirement already satisfied: pandas>=0.24.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.2.4)
Requirement already satisfied: scikit-learn>=0.20.3 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (0.24.1)
Requirement already satisfied: matplotlib>=3.0.0 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (3.3.4)
Requirement already satisfied: scipy>=1.2.1 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.6.2)
Requirement already satisfied: setuptools in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (52.0.0.post20210125)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: joblib>=0.13.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.0.1)
Requirement already satisfied: numpy>=1.16.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.20.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.7)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (8.2.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.1)
Requirement already satisfied: python-dateutil>=2.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.1)
Requirement already satisfied: six in c:\users\nure-jannat\appdata\roaming\python\python38\site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2021.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn>=0.20.3->mlxtend) (2.1.0)

In [3]:
from mlxtend.preprocessing import TransactionEncoder

In [4]:
encoder = TransactionEncoder().fit(dataset)

In [5]:
onehot =encoder.transform(dataset)

In [6]:
import pandas as pd

In [7]:
onehot=pd.DataFrame(onehot,columns=encoder.columns_)

In [8]:
onehot

   bread  carrot  cereal  coffee   eggs  icecream   milk  onion  suger
0   True   False    True   False  False     False   True  False  False
1   True   False   False   False  False     False   True  False  False
2  False   False   False   False   True     False   True  False   True
3  False   False   False    True  False     False  False  False   True
4  False    True   False    True  False      True  False   True  False

In [9]:
print(onehot.mean())

bread       0.4
carrot      0.2
cereal      0.2
coffee      0.4
eggs        0.2
icecream    0.2
milk        0.6
onion       0.2
suger       0.4
dtype: float64

In [10]:
print(onehot['bread'].mean())

0.4

In [11]:
import numpy as np

In [12]:
onehot['bread+carrot']=np.logical_and(onehot['bread'],onehot['carrot'])
print(onehot.mean())

bread           0.4
carrot          0.2
cereal          0.2
coffee          0.4
eggs            0.2
icecream        0.2
milk            0.6
onion           0.2
suger           0.4
bread+carrot    0.0
dtype: float64

In [13]:
onehot['bread+milk']=np.logical_and(onehot['bread'],onehot['milk'])
print(onehot.mean())

bread           0.4
carrot          0.2
cereal          0.2
coffee          0.4
eggs            0.2
icecream        0.2
milk            0.6
onion           0.2
suger           0.4
bread+carrot    0.0
bread+milk      0.4
dtype: float64

In [14]:
supportbreadmilk=np.logical_and(onehot['bread'],onehot['milk']).mean()

In [15]:
supportbread=onehot['bread'].mean()

In [16]:
confidence = supportbreadmilk/supportbread

In [17]:
print(confidence)

1.0

In [18]:
supportmilk=onehot['milk'].mean()

In [19]:
lift=supportbreadmilk/(supportbread*supportmilk)

In [20]:
print(lift)

1.6666666666666667

In [21]:
from mlxtend.frequent_patterns import apriori

In [22]:
frequent_itemset=apriori(onehot,min_support=0.3,max_len=4,use_colnames=True)

In [23]:
print(frequent_itemset)

   support                   itemsets
0      0.4                    (bread)
1      0.4                   (coffee)
2      0.6                     (milk)
3      0.4                    (suger)
4      0.4               (bread+milk)
5      0.4              (bread, milk)
6      0.4        (bread, bread+milk)
7      0.4         (bread+milk, milk)
8      0.4  (milk, bread, bread+milk)

In [24]:
from mlxtend.frequent_patterns import association_rules

In [25]:
rules=association_rules(frequent_itemset,metric="support",min_threshold=0)

In [26]:
print(rules)

            antecedents          consequents  antecedent support  \
0               (bread)               (milk)                 0.4
1                (milk)              (bread)                 0.6
2               (bread)         (bread+milk)                 0.4
3          (bread+milk)              (bread)                 0.4
4          (bread+milk)               (milk)                 0.4
5                (milk)         (bread+milk)                 0.6
6         (bread, milk)         (bread+milk)                 0.4
7    (bread+milk, milk)              (bread)                 0.4
8   (bread, bread+milk)               (milk)                 0.4
9                (milk)  (bread, bread+milk)                 0.6
10              (bread)   (bread+milk, milk)                 0.4
11         (bread+milk)        (bread, milk)                 0.4

    consequent support  support  confidence      lift  leverage  conviction
0                  0.6      0.4    1.000000  1.666667      0.16         inf
1                  0.4      0.4    0.666667  1.666667      0.16         1.8
2                  0.4      0.4    1.000000  2.500000      0.24         inf
3                  0.4      0.4    1.000000  2.500000      0.24         inf
4                  0.6      0.4    1.000000  1.666667      0.16         inf
5                  0.4      0.4    0.666667  1.666667      0.16         1.8
6                  0.4      0.4    1.000000  2.500000      0.24         inf
7                  0.4      0.4    1.000000  2.500000      0.24         inf
8                  0.6      0.4    1.000000  1.666667      0.16         inf
9                  0.4      0.4    0.666667  1.666667      0.16         1.8
10                 0.4      0.4    1.000000  2.500000      0.24         inf
11                 0.4      0.4    1.000000  2.500000      0.24         inf